# Docker build context ignore
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.next
.out
coverage
.dist

.git
.gitignore
.github

Dockerfile
.dockerignore

.env
.env.local
.env.*.local

*.log
